body { font-size: 12px; color: #000; background-color: #F7F7F7; }

.center { width: 252px; position: relative; margin: 120px auto 20px auto; }


.response { display: block; height: 50px;  }

.box-login { position: relative; }

.loading { cursor: wait; display: block; width: 250px; background-color: #FFF; border: 1px solid #C0C0C0; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; position: relative; height: 215px; font-weight: bold; color: #6C6C6C; }
.loading img { display: block; width: 32px; height: 32px; position: absolute; left: 110px; top: 95px; }

.login { top: 0px; left: 0px; position: absolute; display: block; width: 220px; background-color: #FFF; border: 1px solid #C0C0C0; padding: 15px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; height: 185px; font-weight: bold; color: #6C6C6C; line-height: 20px; }
.login label { font-weight: 700; }
.submit { text-align: center; display: block; margin-top: 15px; }

.footer { display: block; height: 30px; line-height: 30px; text-align: center; }