
$verde: #64AF53;
$fonte: 'Raleway', sans-serif;
$cinza-escuro: #4D4D4D;
$cinza-claro: #808080;




/**{outline: 1px solid #c1a2c9;}*/
// *{margin: 20px;}
// body{
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   flex-direction: column;

// }

input{
	height: 30px;
	font-family: $fonte;
	color: $cinza-claro;
	font-size: 12px;
  padding-left: 15px;
  border: 1px solid $verde;
  font-weight: 500;
  width: 100%;

  &:focus{
    outline: 2px solid $verde;     

  }
}

label{
	color: $cinza-escuro;
	font-size: 14px;
	font-family: $fonte;
  font-weight: 500;
  margin-top: 8px;
  margin-bottom: 0;

}

p{
	color: $cinza-escuro;
	font-family: $fonte;
	font-size: 16px;
  font-weight: 500;

}
///////////////////////////////////////////////////////
.radio{
  label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 25px;
    margin-right: 15px;
    font-size: 13px;
    font-weight: 500;
  }

  input[type=radio] {
    display: none;
    width: 100%;
  }

  label:before {
    content: "";
    display: inline-block;

    width: 13px;
    height: 13px;

    margin-right: 10px;
    margin-top: 0;
    position: absolute;
    left: 0;
    top: 2px;
    bottom: 1px;
    background-color: transparent;
    border: 1px solid $verde;
  }

  label:before {
    border-radius: 50%;
  }

  input[type=radio]:checked + label:before {
    background-color:$verde;
  }
}
/////////////////////////////////////////////////////////////////////////
.inputfile{ 
  width: 0.1px; 
  height: 0.1px; 
  opacity: 0; 
  overflow: hidden; 
  position: absolute; 
  z-index: -1;

}

.inputfile + label {
  color: $cinza-escuro;
  display: inline-block;
  height: 30px;
  line-height: 30px;
  font-size: 12px;
  border: 1px solid $verde;
  font-weight: 700;
  text-transform: uppercase;
}

.inputfile:focus + label,
.inputfile + label:hover {
  outline: 1px solid $verde; 
}

.inputfile + label {
  cursor: pointer;
}
.inputfile:focus + label {

  outline: 1px solid $verde; 

}
/////////////////////////////////////////////////////////
textarea{
  font-family: $fonte;
  color: $cinza-claro;
  font-size: 12px;
  padding: 5px;
  border: 1px solid $verde;
  font-weight: 500; 

  &:focus{
    outline: 1px solid $verde;     

  }
}
//////////////////////////////////////////////////////////////////////////
select{

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  font-family: $fonte;
  color: $cinza-claro;
  font-size: 12px;
  padding: 5px;
  border: 1px solid $verde; 
  background: url("../img/select-bg.png") no-repeat;
  padding-left: 8px;
  height: 30px;
  background-position: 90% 10px;
  width: 100%;
  max-width: 200px;
  text-indent: 0.01px;
  text-overflow: "";
  cursor: pointer;
  min-width: 100%;

  &:focus{
    outline: 2px solid $verde;   
  }
}
///////////////////////////////////////////////////////////////////////
button{

  background: #fff;
  color: $cinza-claro;
  border: 1px solid $verde;
  height: 50px;
  width: 100%;
  max-width: 200px;
  color: $cinza-escuro;
  font-size: 16px;
  font-family: $fonte;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;

  &:active, &:focus{
    outline: 2px solid $verde;
  }

}
