@import "mixin.scss";

#home{
	margin: 40px 0 60px;

	.container{

		.noticias{

			text-align: center;
			margin: 50px 0 60px 0;

			.item{
				padding: 3px;
				@include border-radius(0);
				position: relative;
				width: 100%;		/* desired width */

				&:before{
					content: "";
					display: block;
					padding-top: 100%; 	/* ratio of 1:1*/
				}

				&:hover > .content .black{
					opacity: .75;
				}

				.content{
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					width: 100%;
					height: 100%;
					padding: 2px;

					.black{
						position: absolute;
						height: 98.8%;
						width: 98.8%;
						background-color: #000;
						opacity: 0;

						span{
							position: absolute;
							top: 50%;
							left: 50%;
							transform: translate(-50%, -50%);

							color: #fff;
							font-weight: 700;
						}
					}

					img{
						width: 100%;
						height: 100%;
					}
				}
			}
		}
	}
}

@media (min-width: 768px) {

	#home{

		.container{
			.noticias{
				text-align: center;
				.item{
					.content{

					}
				}
			}
		}
	}
}

@media (min-width: 992px) {
	#home{

		.container{
			.noticias{
				text-align: center;
				
				.item{

					.text{

					}
				}
			}
		}
	}


}

@media (min-width: 1200px) {

}
