

#responsabilidade{
	display: inline;

	.links{
		text-align: center;
		ul{
			margin: 0;
			li{
				height: 120px;
				width: 120px;
				background-color: #222;
				margin: 2px;
				cursor: pointer;
				display: inline-block;

				a{

					img{
						width: 100%;
						height: 100%;
					}
					
				}
				&:hover{
					opacity: .6;
				}

			}

		}
	}

}

@media (min-width: 768px) {

}

@media (min-width: 992px) {

	#responsabilidade{

		.links{
			ul{

				li{
					height: 90px;
					width: 90px;
					
				}
			}

		}

	}
}

@media (min-width: 1200px) {
	#responsabilidade{

		.links{
			ul{

				li{
					height: 120px;
					width: 120px;
					
				}
			}

		}

	}
}