$fonte: 'Raleway', sans-serif;

#responsabilidade{
	display: inline;

	p{
		margin-top: 100px;
	}
	.links{
		text-align: center;

		ul{
			margin: 0;

			li{
				height: 120px;
				width: 120px;
				background-color: #222;
				margin: 2px;
				cursor: pointer;
				display: inline-block;

				a{

					img{
						width: 100%;
						height: 100%;
					}
					
				}
				&:hover{
					opacity: .6;
				}

			}

		}
	}

}

section.responsabilidade-publicacoes{
	.container{
		.item{
			.thumbs{
				margin: 40px 0;
				width: 100%;
				text-align: center;

				a, a:visited{
					padding:0px;
					text-decoration: none;
					text-align:center;
					color:#000;
					width:80px;  
					height:20px;	
					display:block;

					font-size: 10px;
					font-weight: 700;
					text-transform: uppercase;
					line-height: 20px;
					border: 1px solid $verde;
					margin: 15px auto;

					&:hover{
						outline: 1px solid $verde;
					}
				}
			}
		}


		#informativos{
			padding: 0 15px;

			p{margin-bottom: 40px;}

			.lista{
				margin: 0;

				div{
					padding: 0;
					margin-bottom: 15px;

					.thumbs{
						margin: 40px 0 0;
						width: 100%;
						text-align: center;

						h5{
							margin-bottom: 15px;
						}

						img{
							height: auto;
							width: 40%;
						}

						a, a:visited{
							padding:0px;
							text-decoration: none;
							text-align:center;
							color:#000;
							width:80px;  
							height:20px;	
							display:block;

							font-size: 10px;
							font-weight: 700;
							text-transform: uppercase;
							line-height: 20px;
							border: 1px solid $verde;
							margin: 15px auto;

							&:hover{
								outline: 1px solid $verde;
							}
						}
					}
				}
			}
		}
	}
}

$folha-height: 90px;
.folha-menu {margin-bottom: 50px; width: 100%; height: $folha-height; display: block; position: relative; background: url('../img/folha-menu.jpg') no-repeat top left; background-size: 100% 100%; }
.folha-menu a { float: left; padding: 35px 15px 0px 2px; margin: 0px; color: transparent !important; display: inline-block; width: 33%; height: $folha-height; cursor: pointer; }
.folha-menu a:hover, .folha-menu a.active { background: url('../img/folha-menu-active.png') repeat; color: #fff !important; }

.folha-menu a { vertical-align: center; font-size: 11px; line-height: 11px; font-family: $fonte; font-weight: bold; }
.folha-menu a span { font-size: 12px; line-height: 15px; font-family: $fonte; font-weight: bold; }

.folha-menu a[rel=campanha] {}
.folha-menu a[rel=centro] {}
.folha-menu a[rel=metropolitana] { width: 34%; }


section.responsabilidade-industrial {
	margin-top: 80px;

	h2 { margin-top: 20px; }

	ul { 
		margin: 30px 0; 
		display: block; 

		li { 
			
			width: 100%; 
			border: 1px solid $verde; 
			font-family: $fonte; 
			font-weight: bold; 
			font-size: 9px; 
			height: 30px; 
			overflow: hidden; 
			display: inline-block;

			span { 
				color: #fff; 
				background-color: $verde; 
				line-height: 30px; 
				display: block; 
				float: left; 
				text-align: center; 

				width: 21px; 
			}
			a { 
				color: $cinza-escuro; 
				float: left; 
				display: block; 
				line-height: 30px; 
				width: 7.7%; 
				text-align: center; 
				border-left: 1px solid $verde;
				text-transform: uppercase;
				
				&:hover { 
					color: #fff; 
					background-color: $verde;
				}
				
				.line{ display: -webkit-inline-box;}

				&.none { 
					color: #ccc; 

					&:hover { color: #ccc; cursor: inherit; background-color: inherit; }
				}
			}
		}
	}
}


section.responsabilidade-sociais {
	margin: 60px 0 60px; 
	h3{margin-top: 0; line-height: 19px;}

	.content{
		margin-top: 60px;

		.col-md-8{
			text-align: center;
			border-right: none;
			border-bottom: 1px solid $verde;
			margin-bottom: 50px;
			
			.lista { 
				margin-left: 0;

				li { 
					display: block; 
					margin: 15px;

					h3{margin: 10px 0 5px ; font-size: 15px; text-align: initial;}
					p{font-size: 12px; }
					.last { margin-right: 0; }
					img { display: block; margin-bottom: 5px; width: 100%; height: auto;}

					a, a:visited{
						padding:0px;
						text-decoration: none;
						text-align:center;
						color:#000;
						width:80px;  
						height:20px;	
						display:block;

						font-size: 9px;
						font-weight: 700;
						text-transform: uppercase;
						line-height: 20px;
						border: 1px solid $verde;

						&:hover{
							outline: 1px solid $verde;							
						}
					}
				}
			}
		}
		.col-md-4{
			text-align: center;
			
			.apoios{
				margin-bottom: 40px;

				.apoios-item{
					margin-bottom: 20px;

					h5{margin: 10px 0 5px ; font-size: 15px; text-align: initial;}
					p{font-size: 12px; }

					a, a:visited{
						padding:0 5px;
						text-decoration: none;
						text-align:center;
						color:#000;
						width:80px;  
						height:20px;	
						display:block;

						font-size: 8px;
						font-weight: 900;
						text-transform: uppercase;
						line-height: 20px;
						border: 1px solid $verde;

						&:hover{
							outline: 1px solid $verde;
						}
					}
				}
			}

			.apoios-form{
				text-align: initial;
				label{
					text-align: initial;
					font-weight: 900;
				}
				textarea{
					min-width: 100%!important;
					display: block;
				}
				span{
					font-size: 11px;
					font-weight: 900;
				}

				.center{
					text-align: center;
				}

			}
		}
	}
}

section.responsabilidade-empregos {

	.texto { 
		text-align: justify; 
		color: #A4A5A7; 
		font-size: 14px; 
		margin: 30px 0; 
	}
	
	table { 
		padding: 0; 
		display: block;
		width: 100%;

		border: none;
		margin: 60px auto;

		thead {
			td { 
				line-height: 20px; 
				text-align: center; 
				background-color: $verde; 
				color: #fff; 
				font-size: 13px; 
				border: 1px solid $verde;

			}
			th { 
				line-height: 20px; 
				font-size: 13px; 
				color: $verde; 
				border: 1px solid $verde;
			}
		}

		tbody {
			td { 
				line-height: 20px; 
				text-align: center; 
				font-size: 11px; 
				color: $cinza-escuro;
				font-weight: 700; 
				border: 1px solid $verde;

				.last { border-right: none; } 
				.title {  text-align: left; padding-left: 10px; color: #6c6c6c; }
			}
		}

		tfoot {
			td { 
				padding: 0px 10px; 
				line-height: 30px; 
				background-color: $verde; 
				color: #fff; 
				font-size: 14px; 
				border: 1px solid $verde;

			}

			th { 
				padding: 0px 10px; 
				line-height: 30px; 
				font-size: 14px; 
				color: $verde; 
				border: 1px solid $verde;
			}
		}
	}
}

section.responsabilidade-fiscal{
	.container{
		.item{
			.thumbs{
				margin: 40px 0;
				width: 100%;
				text-align: center;

				p{
				text-align: center;
				margin: 20px;
			}

				a, a:visited{
					padding:0px;
					text-decoration: none;
					text-align:center;
					color:#000;
					width:80px;  
					height:20px;	
					display:block;

					font-size: 10px;
					font-weight: 700;
					text-transform: uppercase;
					line-height: 20px;
					border: 1px solid $verde;
					margin: 15px auto;

					&:hover{
						outline: 1px solid $verde;
					}
				}
			}
		}
	}
}

section.responsabilidade-barbaNegra{
	.container{
		.item{
				margin: 40px 0;

			.thumbs{
				margin: 40px 0;
				width: 100%;
				text-align: center;

				a, a:visited{
					padding:0px;
					text-decoration: none;
					text-align:center;
					color:#000;
					width:80px;  
					height:20px;	
					display:block;

					font-size: 10px;
					font-weight: 700;
					text-transform: uppercase;
					line-height: 20px;
					border: 1px solid $verde;
					margin: 15px auto;

					&:hover{
						outline: 1px solid $verde;
					}
				}
			}
		}
	}
}

@media (min-width: 768px) {
	$folha-height: 240px;
	.folha-menu{
		height: $folha-height;

		a{
			height: $folha-height;		
			font-size: 25px; 
			line-height: 25px;
			padding: 90px 15px 0px 15px;

			span{
				font-size: 30px; 
				line-height: 30px;
			}	
		}
	}


	section.responsabilidade-industrial {
		ul{ 
			li{ 
				
				span{
					width: 44px;
				}
			}
		}
	}

	section.responsabilidade-sociais {
		margin: 60px 0 60px; 
		h3{margin-top: 0; line-height: 19px;}

		.content{
			margin-top: 60px;

			.col-md-8{
				border-right: 1px solid $verde;
				border-bottom: none;
			}
		}
	}

}

@media (min-width: 992px) {

	#responsabilidade{

		.links{
			ul{

				li{
					height: 90px;
					width: 90px;
					
				}
			}

		}

	}
	section.responsabilidade-publicacoes{
		.container{
			#informativos{
				.lista{
					div{
						.thumbs{
							img{
								height: auto;
								width: 40%;
							}
						}
					}
				}
			}
		}
	}	

	section.responsabilidade-industrial {
		ul{ 
			li{ 
				font-size: 11px;
				span{
					width: 64px;
				}
			}
		}
	}

}

@media (min-width: 1200px) {
	#responsabilidade{

		.links{
			ul{

				li{
					height: 120px;
					width: 120px;
					
				}
			}

		}

	}
	section.responsabilidade-industrial {
		ul{ 
			li{ 
				font-size: 12px;
				span{
					width: 84px;
				}
			}
		}
	}
}