/**{outline: 1px solid #c1a2c9;}*/
input {
  height: 30px;
  font-family: "Raleway", sans-serif;
  color: #808080;
  font-size: 12px;
  padding-left: 15px;
  border: 1px solid #64AF53;
  font-weight: 500;
  width: 100%; }
  input:focus {
    outline: 2px solid #64AF53; }

label {
  color: #4D4D4D;
  font-size: 14px;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  margin-top: 8px;
  margin-bottom: 0; }

p {
  color: #4D4D4D;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 500; }

.radio label {
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-left: 25px;
  margin-right: 15px;
  font-size: 13px;
  font-weight: 500; }
.radio input[type=radio] {
  display: none;
  width: 100%; }
.radio label:before {
  content: "";
  display: inline-block;
  width: 13px;
  height: 13px;
  margin-right: 10px;
  margin-top: 0;
  position: absolute;
  left: 0;
  top: 2px;
  bottom: 1px;
  background-color: transparent;
  border: 1px solid #64AF53; }
.radio label:before {
  border-radius: 50%; }
.radio input[type=radio]:checked + label:before {
  background-color: #64AF53; }

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1; }

.inputfile + label {
  color: #4D4D4D;
  display: inline-block;
  height: 30px;
  line-height: 30px;
  font-size: 12px;
  border: 1px solid #64AF53;
  font-weight: 700;
  text-transform: uppercase; }

.inputfile:focus + label,
.inputfile + label:hover {
  outline: 1px solid #64AF53; }

.inputfile + label {
  cursor: pointer; }

.inputfile:focus + label {
  outline: 1px solid #64AF53; }

textarea {
  font-family: "Raleway", sans-serif;
  color: #808080;
  font-size: 12px;
  padding: 5px;
  border: 1px solid #64AF53;
  font-weight: 500; }
  textarea:focus {
    outline: 1px solid #64AF53; }

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-family: "Raleway", sans-serif;
  color: #808080;
  font-size: 12px;
  padding: 5px;
  border: 1px solid #64AF53;
  background: url("../img/select-bg.png") no-repeat;
  padding-left: 8px;
  height: 30px;
  background-position: 90% 10px;
  width: 100%;
  max-width: 200px;
  text-indent: 0.01px;
  text-overflow: "";
  cursor: pointer;
  min-width: 100%; }
  select:focus {
    outline: 2px solid #64AF53; }

button {
  background: #fff;
  color: #808080;
  border: 1px solid #64AF53;
  height: 50px;
  width: 100%;
  max-width: 200px;
  color: #4D4D4D;
  font-size: 16px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer; }
  button:active, button:focus {
    outline: 2px solid #64AF53; }

h2 {
  color: #64AF53;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 5px;
  width: 100%;
  margin: 100px auto 60px;
  overflow: hidden;
  text-align: center;
  font-weight: 300; }
  h2:before, h2:after {
    content: "";
    display: inline-block;
    width: 50%;
    margin: 0 .5em 0 -55%;
    border-bottom: 1px solid; }
  h2:after {
    margin: 0 -55% 0 .5em; }

h3 {
  color: #64AF53;
  text-transform: uppercase;
  font-size: 17px;
  margin: 30px 0; }

h4 {
  color: #4D4D4D;
  font-size: 16px;
  padding-top: 20px;
  margin: 0; }

h5 {
  color: #64AF53;
  font-size: 16px; }

p {
  color: #4D4D4D;
  font-size: 14px;
  text-align: justify;
  font-weight: 700; }

.mobile-hide {
  display: none !important; }

.banner {
  margin-top: 120px;
  top: 100px;
  width: 100%;
  height: 300px;
  display: none; }
  .banner img {
    width: 100%;
    height: 100%; }

* {
  margin: 0;
  padding: 0; }

body {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  color: #4D4D4D; }

header {
  background-color: #fff;
  height: 100vh;
  width: 0;
  position: fixed;
  z-index: 200;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  top: 0;
  overflow: hidden;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  transition: all ease 0.3s; }
  header .logo {
    height: 12vh;
    width: 100vw;
    margin-top: 20px;
    display: block;
    position: relative;
    top: 0;
    z-index: 500;
    cursor: pointer;
    background: url("../img/logo-sm-color.png") no-repeat 50% 50%;
    background-size: contain;
    text-align: center; }
    header .logo a {
      display: block;
      width: 100%;
      height: 100%; }
  header .container {
    padding: 0; }
    header .container nav {
      position: relative;
      z-index: 480; }
      header .container nav ul {
        margin: 20px 0 0 0; }
        header .container nav ul li {
          height: 9vh;
          width: 100vw;
          text-align: center;
          border-top: 1px solid #64AF53;
          line-height: 9vh;
          cursor: pointer;
          -webkit-transition: all ease 0.3s;
          -moz-transition: all ease 0.3s;
          -o-transition: all ease 0.3s;
          -ms-transition: all ease 0.3s;
          transition: all ease 0.3s; }
          header .container nav ul li:hover {
            background-color: #64AF53; }
            header .container nav ul li:hover > a {
              color: #fff; }
          header .container nav ul li:last-child {
            border-bottom: 1px solid #64AF53; }
          header .container nav ul li a {
            display: block;
            color: #39b34a;
            text-transform: uppercase;
            font-weight: 900;
            height: 100%;
            width: 100%;
            color: #808080;
            -webkit-transition: all ease 0.3s;
            -moz-transition: all ease 0.3s;
            -o-transition: all ease 0.3s;
            -ms-transition: all ease 0.3s;
            transition: all ease 0.3s; }
            header .container nav ul li a:hover {
              color: #fff; }

.menu-button {
  position: fixed;
  height: 4em;
  width: 4em;
  background-color: #64AF53;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  line-height: 4em;
  right: 0;
  bottom: 0;
  margin: 0 20px 20px 0;
  z-index: 1000;
  cursor: pointer;
  -webkit-box-shadow: -2px 0 5px 0 rgba(0, 0, 0, 0.25);
  -moz-box-shadow: -2px 0 5px 0 rgba(0, 0, 0, 0.25);
  box-shadow: -2px 0 5px 0 rgba(0, 0, 0, 0.25); }
  .menu-button img {
    height: 50%;
    width: auto; }

#menu.move {
  width: 100vw; }

footer {
  display: block;
  position: relative; }
  footer .copy {
    background-color: #64AF53;
    padding: 10px 0 0 0; }
    footer .copy .container {
      text-align: center;
      color: #fff;
      line-height: 30px;
      font-size: 16px; }
      footer .copy .container .select:hover img {
        background-color: #83bf76;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        border-radius: 50%; }
      footer .copy .container .active img {
        background-color: #83bf76;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        border-radius: 50%; }
      footer .copy .container img {
        display: inline-block;
        margin-right: 5px;
        height: 46px;
        width: auto;
        padding: 3px; }
      footer .copy .container a:not(.mobile-hide) {
        display: inline-block;
        color: #fff; }
      footer .copy .container .redes a:hover:not(:last-child) img {
        background-color: #83bf76;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        border-radius: 50%; }
      footer .copy .container .info {
        line-height: 20px;
        margin: 20px 0; }
        footer .copy .container .info a {
          margin-top: 20px; }
    footer .copy .border {
      background: url("../img/footer-border.png") repeat-x;
      height: 22px;
      width: 100%; }
  footer .incendioflorestal {
    left: 50%;
    position: absolute;
    margin: auto;
    bottom: 220px;
    right: 0;
    margin-left: -169px; }

@media (min-width: 768px) {
  .mobile-hide {
    display: block !important; }

  .banner {
    display: block; }

  header .container {
    margin: 0; }

  footer {
    margin-top: 50px;
    display: block;
    position: relative; }
    footer .copy {
      padding: 10px 0 0 0; }
      footer .copy .container {
        line-height: 30px;
        font-size: 16px; }
        footer .copy .container .redes {
          display: inline-block;
          margin-top: 30px; }
          footer .copy .container .redes img {
            height: 43px;
            width: auto;
            padding: 3px; }
        footer .copy .container .info {
          line-height: 20px;
          margin: 20px 0;
          font-size: 14px; }
          footer .copy .container .info a {
            margin-top: 20px; }
          footer .copy .container .info img {
            position: absolute;
            height: 80px;
            width: auto;
            right: -50px;
            top: 10px; }
    footer .incendioflorestal {
      bottom: 145px; } }
@media (min-width: 992px) {
  header {
    width: 100vw;
    height: 120px;
    background-color: transparent; }
    header .logo {
      width: 100px;
      height: 100px;
      float: left;
      margin: 10px;
      background: url("../img/logo-sm.png") no-repeat 50% 50%;
      background-size: contain; }
    header .container {
      margin-right: auto;
      margin-left: auto; }
      header .container nav {
        float: right; }
        header .container nav ul {
          margin: 0; }
          header .container nav ul li {
            display: inline-block;
            border: none;
            height: 120px;
            width: auto;
            line-height: 120px; }
            header .container nav ul li:last-child {
              border: none; }
            header .container nav ul li:hover {
              background-color: transparent; }
              header .container nav ul li:hover > a {
                color: #808080;
                height: 120px !important; }
            header .container nav ul li a {
              padding: 0px 10px 10px 10px;
              font-size: 14px;
              color: #fff;
              height: 10px; }

  .act {
    background-color: #fff;
    -webkit-box-shadow: -2px 0 5px 0 rgba(0, 0, 0, 0.25);
    -moz-box-shadow: -2px 0 5px 0 rgba(0, 0, 0, 0.25);
    box-shadow: -2px 0 5px 0 rgba(0, 0, 0, 0.25); }
    .act .logo {
      background: url("../img/logo-sm-color.png") no-repeat 50% 50%;
      background-size: contain; }
    .act .container nav ul li:hover {
      background-color: #F2F2F2; }
      .act .container nav ul li:hover > a {
        color: #4D4D4D; }
    .act .container nav ul li a {
      color: #808080; }

  .menu-button {
    display: none; } }
#agende .container {
  text-align: center;
  margin: 80px auto 200px auto; }
  #agende .container p {
    margin: 50px 0;
    text-align: justify; }
  #agende .container input {
    height: 50px;
    width: 100%;
    -webkit-box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.5); }

@media (min-width: 768px) {
  #agende .container p {
    margin: 50px 40px; } }
#home {
  margin: 40px 0 60px; }
  #home .container .noticias {
    text-align: center;
    margin: 50px 0 60px 0;
    position: relative; }
    #home .container .noticias .item {
      padding: 3px;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      -ms-border-radius: 0;
      border-radius: 0;
      position: relative;
      width: 100%;
      /* desired width */
      z-index: 100; }
      #home .container .noticias .item:before {
        content: "";
        display: block;
        padding-top: 100%;
        /* ratio of 1:1*/ }
      #home .container .noticias .item:hover > .content .black {
        opacity: .91; }
      #home .container .noticias .item .content {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        padding: 2px; }
        #home .container .noticias .item .content .black {
          position: absolute;
          height: 95%;
          width: 95%;
          top: 2.5%;
          left: 2.5%;
          background-color: #000;
          opacity: 0;
          -webkit-transition: all ease 0.3s;
          -moz-transition: all ease 0.3s;
          -o-transition: all ease 0.3s;
          -ms-transition: all ease 0.3s;
          transition: all ease 0.3s; }
          #home .container .noticias .item .content .black span {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: #fff;
            font-weight: 700; }
        #home .container .noticias .item .content img {
          width: 100%;
          height: 100%; }
    #home .container .noticias a {
      color: #4D4D4D;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 14px;
      -webkit-transition: all ease 0.3s;
      -moz-transition: all ease 0.3s;
      -o-transition: all ease 0.3s;
      -ms-transition: all ease 0.3s;
      transition: all ease 0.3s; }
      #home .container .noticias a:hover {
        text-decoration: underline; }
    #home .container .noticias .span a {
      color: #4D4D4D;
      text-transform: uppercase;
      font-weight: 900;
      font-size: 14px; }
  #home .container .projetos-sociais {
    text-align: center; }
    #home .container .projetos-sociais img {
      height: auto;
      width: 100%;
      margin-bottom: 10px;
      z-index: 100;
      -webkit-transition: all ease 0.3s;
      -moz-transition: all ease 0.3s;
      -o-transition: all ease 0.3s;
      -ms-transition: all ease 0.3s;
      transition: all ease 0.3s; }
      #home .container .projetos-sociais img:hover {
        opacity: .6; }
    #home .container .projetos-sociais .span {
      z-index: 30; }
      #home .container .projetos-sociais .span a {
        color: #4D4D4D;
        text-transform: uppercase;
        font-weight: 900;
        font-size: 14px; }
        #home .container .projetos-sociais .span a:hover {
          text-decoration: underline; }

@media (min-width: 768px) {
  #home .container .noticias {
    text-align: center; } }
@media (min-width: 992px) {
  #home .container .noticias {
    text-align: center; } }
#sobre .diferencial {
  margin: 40px auto 40px; }
  #sobre .diferencial .item {
    padding: 3px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    position: relative;
    width: 100%;
    /* desired width */ }
    #sobre .diferencial .item:before {
      content: "";
      display: block;
      padding-top: 100%;
      /* ratio of 1:1*/ }
    #sobre .diferencial .item .content {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      padding: 2px; }
      #sobre .diferencial .item .content img {
        width: 100%;
        height: 100%; }
#sobre .esquema {
  text-align: center; }
  #sobre .esquema img {
    margin: 40px auto 40px auto;
    width: 100%;
    height: 100%; }

#certificacoes img {
  margin-top: 40px; }
#certificacoes .pdf {
  position: absolute;
  top: 190px;
  left: 10px;
  margin: 0px;
  padding: 0px; }
  #certificacoes .pdf:hover {
    outline: 1px solid #64AF53; }
  #certificacoes .pdf a, #certificacoes .pdf a:visited {
    padding: 0px;
    text-decoration: none;
    text-align: center;
    color: #000;
    width: 80px;
    height: 20px;
    display: block;
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 20px;
    border: 1px solid #64AF53;
    margin-bottom: 20px; }
#certificacoes h5 {
  margin-top: 60px;
  margin-bottom: 0 !important;
  font-size: 14px;
  font-weight: 500; }
#certificacoes p {
  font-size: 11px !important;
  margin-top: 0 !important; }

#guaiba2 h3 {
  margin-top: 0; }
#guaiba2 .item {
  padding: 3px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  position: relative;
  width: 100%;
  /* desired width */ }
  #guaiba2 .item:before {
    content: "";
    display: block;
    padding-top: 100%;
    /* ratio of 1:1*/ }
  #guaiba2 .item .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    padding: 2px; }
    #guaiba2 .item .content img {
      width: 100% !important;
      height: 100% !important; }
#guaiba2 ul {
  list-style: circle;
  margin-left: 15px; }
  #guaiba2 ul li {
    color: #4D4D4D;
    font-size: 14px;
    text-align: justify;
    font-weight: 700; }

#valores ul {
  list-style: circle;
  margin-left: 15px; }
  #valores ul li {
    color: #4D4D4D;
    font-size: 14px;
    text-align: justify;
    font-weight: 700; }

#historia h3 {
  margin: 20px auto 0; }

@media (min-width: 768px) {
  #sobre .esquema img {
    width: 60%;
    height: 60%; }

  #certificacoes img {
    margin-top: 0; }
  #certificacoes .pdf {
    position: absolute;
    top: 150px;
    left: 10px;
    margin: 0px;
    padding: 0px;
    margin-bottom: 20px; }
    #certificacoes .pdf a {
      padding: 0px;
      text-decoration: none;
      text-align: center;
      color: #000;
      width: 80px;
      height: 20px;
      display: block;
      font-size: 10px;
      font-weight: 700;
      text-transform: uppercase;
      line-height: 20px;
      border: 1px solid #64AF53;
      margin-bottom: 0; }
      #certificacoes .pdf a:hover {
        outline: 1px solid #64AF53; }
  #certificacoes h5 {
    margin: 0 0 10px 10px; }
  #certificacoes p {
    margin: 10px;
    font-size: 12px; } }
@media (min-width: 992px) {
  #sobre .esquema img {
    width: 40%;
    height: 40%; } }
/* Produtos Area */
#produtos .descricao {
  text-align: justify;
  color: #A4A5A7;
  font-size: 14px;
  display: block; }
  #produtos .descricao .col-xs-12 {
    text-align: center; }
    #produtos .descricao .col-xs-12 img {
      height: 100%;
      width: 100%; }
#produtos .fluxograma h3 {
  line-height: 19px;
  margin-bottom: 0; }
#produtos .fluxograma ul {
  margin-left: 0; }
  #produtos .fluxograma ul li {
    margin-bottom: 20px;
    text-align: center; }
    #produtos .fluxograma ul li img {
      display: block;
      width: 80%;
      margin: 0 auto 5px; }
    #produtos .fluxograma ul li p {
      font-size: 13px; }

@media (min-width: 768px) {
  #produtos .fluxograma ul li img {
    width: 60%; }
  #produtos .fluxograma ul li:not(:nth-child(4)) h3 {
    margin-bottom: 20px !important; } }
@media (min-width: 992px) {
  #produtos .descricao {
    text-align: justify;
    color: #A4A5A7;
    font-size: 14px;
    display: block; }
    #produtos .descricao .col-xs-12 {
      text-align: center; }
      #produtos .descricao .col-xs-12 img {
        height: 100%;
        width: 100%; }
  #produtos .fluxograma ul li {
    padding: 25px;
    height: 500px; }
    #produtos .fluxograma ul li img {
      display: block;
      width: 100%;
      margin-bottom: 5px; }
    #produtos .fluxograma ul li:not(:nth-child(4)) h3 {
      margin-bottom: 35px !important; } }
#responsabilidade {
  display: inline; }
  #responsabilidade p {
    margin-top: 100px; }
  #responsabilidade .links {
    text-align: center; }
    #responsabilidade .links ul {
      margin: 0; }
      #responsabilidade .links ul li {
        height: 120px;
        width: 120px;
        background-color: #222;
        margin: 2px;
        cursor: pointer;
        display: inline-block; }
        #responsabilidade .links ul li a img {
          width: 100%;
          height: 100%; }
        #responsabilidade .links ul li:hover {
          opacity: .6; }

section.responsabilidade-publicacoes .container .item .thumbs {
  margin: 40px 0;
  width: 100%;
  text-align: center; }
  section.responsabilidade-publicacoes .container .item .thumbs a, section.responsabilidade-publicacoes .container .item .thumbs a:visited {
    padding: 0px;
    text-decoration: none;
    text-align: center;
    color: #000;
    width: 80px;
    height: 20px;
    display: block;
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 20px;
    border: 1px solid #64AF53;
    margin: 15px auto; }
    section.responsabilidade-publicacoes .container .item .thumbs a:hover, section.responsabilidade-publicacoes .container .item .thumbs a:visited:hover {
      outline: 1px solid #64AF53; }
section.responsabilidade-publicacoes .container #informativos {
  padding: 0 15px; }
  section.responsabilidade-publicacoes .container #informativos p {
    margin-bottom: 40px; }
  section.responsabilidade-publicacoes .container #informativos .lista {
    margin: 0; }
    section.responsabilidade-publicacoes .container #informativos .lista div {
      padding: 0;
      margin-bottom: 15px; }
      section.responsabilidade-publicacoes .container #informativos .lista div .thumbs {
        margin: 40px 0 0;
        width: 100%;
        text-align: center; }
        section.responsabilidade-publicacoes .container #informativos .lista div .thumbs h5 {
          margin-bottom: 15px; }
        section.responsabilidade-publicacoes .container #informativos .lista div .thumbs img {
          height: auto;
          width: 40%; }
        section.responsabilidade-publicacoes .container #informativos .lista div .thumbs a, section.responsabilidade-publicacoes .container #informativos .lista div .thumbs a:visited {
          padding: 0px;
          text-decoration: none;
          text-align: center;
          color: #000;
          width: 80px;
          height: 20px;
          display: block;
          font-size: 10px;
          font-weight: 700;
          text-transform: uppercase;
          line-height: 20px;
          border: 1px solid #64AF53;
          margin: 15px auto; }
          section.responsabilidade-publicacoes .container #informativos .lista div .thumbs a:hover, section.responsabilidade-publicacoes .container #informativos .lista div .thumbs a:visited:hover {
            outline: 1px solid #64AF53; }

.folha-menu {
  margin-bottom: 50px;
  width: 100%;
  height: 90px;
  display: block;
  position: relative;
  background: url("../img/folha-menu.jpg") no-repeat top left;
  background-size: 100% 100%; }

.folha-menu a {
  float: left;
  padding: 35px 15px 0px 2px;
  margin: 0px;
  color: transparent !important;
  display: inline-block;
  width: 33%;
  height: 90px;
  cursor: pointer; }

.folha-menu a:hover, .folha-menu a.active {
  background: url("../img/folha-menu-active.png") repeat;
  color: #fff !important; }

.folha-menu a {
  vertical-align: center;
  font-size: 11px;
  line-height: 11px;
  font-family: "Raleway", sans-serif;
  font-weight: bold; }

.folha-menu a span {
  font-size: 12px;
  line-height: 15px;
  font-family: "Raleway", sans-serif;
  font-weight: bold; }

.folha-menu a[rel=metropolitana] {
  width: 34%; }

section.responsabilidade-industrial {
  margin-top: 80px; }
  section.responsabilidade-industrial h2 {
    margin-top: 20px; }
  section.responsabilidade-industrial ul {
    margin: 30px 0;
    display: block; }
    section.responsabilidade-industrial ul li {
      width: 100%;
      border: 1px solid #64AF53;
      font-family: "Raleway", sans-serif;
      font-weight: bold;
      font-size: 9px;
      height: 30px;
      overflow: hidden;
      display: inline-block; }
      section.responsabilidade-industrial ul li span {
        color: #fff;
        background-color: #64AF53;
        line-height: 30px;
        display: block;
        float: left;
        text-align: center;
        width: 21px; }
      section.responsabilidade-industrial ul li a {
        color: #4D4D4D;
        float: left;
        display: block;
        line-height: 30px;
        width: 7.7%;
        text-align: center;
        border-left: 1px solid #64AF53;
        text-transform: uppercase; }
        section.responsabilidade-industrial ul li a:hover {
          color: #fff;
          background-color: #64AF53; }
        section.responsabilidade-industrial ul li a .line {
          display: -webkit-inline-box; }
        section.responsabilidade-industrial ul li a.none {
          color: #ccc; }
          section.responsabilidade-industrial ul li a.none:hover {
            color: #ccc;
            cursor: inherit;
            background-color: inherit; }

section.responsabilidade-sociais {
  margin: 60px 0 60px; }
  section.responsabilidade-sociais h3 {
    margin-top: 0;
    line-height: 19px; }
  section.responsabilidade-sociais .content {
    margin-top: 60px; }
    section.responsabilidade-sociais .content .col-md-8 {
      text-align: center;
      border-right: none;
      border-bottom: 1px solid #64AF53;
      margin-bottom: 50px; }
      section.responsabilidade-sociais .content .col-md-8 .lista {
        margin-left: 0; }
        section.responsabilidade-sociais .content .col-md-8 .lista li {
          display: block;
          margin: 15px; }
          section.responsabilidade-sociais .content .col-md-8 .lista li h3 {
            margin: 10px 0 5px;
            font-size: 15px;
            text-align: initial; }
          section.responsabilidade-sociais .content .col-md-8 .lista li p {
            font-size: 12px; }
          section.responsabilidade-sociais .content .col-md-8 .lista li .last {
            margin-right: 0; }
          section.responsabilidade-sociais .content .col-md-8 .lista li img {
            display: block;
            margin-bottom: 5px;
            width: 100%;
            height: auto; }
          section.responsabilidade-sociais .content .col-md-8 .lista li a, section.responsabilidade-sociais .content .col-md-8 .lista li a:visited {
            padding: 0px;
            text-decoration: none;
            text-align: center;
            color: #000;
            width: 80px;
            height: 20px;
            display: block;
            font-size: 9px;
            font-weight: 700;
            text-transform: uppercase;
            line-height: 20px;
            border: 1px solid #64AF53; }
            section.responsabilidade-sociais .content .col-md-8 .lista li a:hover, section.responsabilidade-sociais .content .col-md-8 .lista li a:visited:hover {
              outline: 1px solid #64AF53; }
    section.responsabilidade-sociais .content .col-md-4 {
      text-align: center; }
      section.responsabilidade-sociais .content .col-md-4 .apoios {
        margin-bottom: 40px; }
        section.responsabilidade-sociais .content .col-md-4 .apoios .apoios-item {
          margin-bottom: 20px; }
          section.responsabilidade-sociais .content .col-md-4 .apoios .apoios-item h5 {
            margin: 10px 0 5px;
            font-size: 15px;
            text-align: initial; }
          section.responsabilidade-sociais .content .col-md-4 .apoios .apoios-item p {
            font-size: 12px; }
          section.responsabilidade-sociais .content .col-md-4 .apoios .apoios-item a, section.responsabilidade-sociais .content .col-md-4 .apoios .apoios-item a:visited {
            padding: 0 5px;
            text-decoration: none;
            text-align: center;
            color: #000;
            width: 80px;
            height: 20px;
            display: block;
            font-size: 8px;
            font-weight: 900;
            text-transform: uppercase;
            line-height: 20px;
            border: 1px solid #64AF53; }
            section.responsabilidade-sociais .content .col-md-4 .apoios .apoios-item a:hover, section.responsabilidade-sociais .content .col-md-4 .apoios .apoios-item a:visited:hover {
              outline: 1px solid #64AF53; }
      section.responsabilidade-sociais .content .col-md-4 .apoios-form {
        text-align: initial; }
        section.responsabilidade-sociais .content .col-md-4 .apoios-form label {
          text-align: initial;
          font-weight: 900; }
        section.responsabilidade-sociais .content .col-md-4 .apoios-form textarea {
          min-width: 100% !important;
          display: block; }
        section.responsabilidade-sociais .content .col-md-4 .apoios-form span {
          font-size: 11px;
          font-weight: 900; }
        section.responsabilidade-sociais .content .col-md-4 .apoios-form .center {
          text-align: center; }

section.responsabilidade-empregos .texto {
  text-align: justify;
  color: #A4A5A7;
  font-size: 14px;
  margin: 30px 0; }
section.responsabilidade-empregos table {
  padding: 0;
  display: block;
  width: 100%;
  border: none;
  margin: 60px auto; }
  section.responsabilidade-empregos table thead td {
    line-height: 20px;
    text-align: center;
    background-color: #64AF53;
    color: #fff;
    font-size: 13px;
    border: 1px solid #64AF53; }
  section.responsabilidade-empregos table thead th {
    line-height: 20px;
    font-size: 13px;
    color: #64AF53;
    border: 1px solid #64AF53; }
  section.responsabilidade-empregos table tbody td {
    line-height: 20px;
    text-align: center;
    font-size: 11px;
    color: #4D4D4D;
    font-weight: 700;
    border: 1px solid #64AF53; }
    section.responsabilidade-empregos table tbody td .last {
      border-right: none; }
    section.responsabilidade-empregos table tbody td .title {
      text-align: left;
      padding-left: 10px;
      color: #6c6c6c; }
  section.responsabilidade-empregos table tfoot td {
    padding: 0px 10px;
    line-height: 30px;
    background-color: #64AF53;
    color: #fff;
    font-size: 14px;
    border: 1px solid #64AF53; }
  section.responsabilidade-empregos table tfoot th {
    padding: 0px 10px;
    line-height: 30px;
    font-size: 14px;
    color: #64AF53;
    border: 1px solid #64AF53; }

section.responsabilidade-fiscal .container .item .thumbs {
  margin: 40px 0;
  width: 100%;
  text-align: center; }
  section.responsabilidade-fiscal .container .item .thumbs p {
    text-align: center;
    margin: 20px; }
  section.responsabilidade-fiscal .container .item .thumbs a, section.responsabilidade-fiscal .container .item .thumbs a:visited {
    padding: 0px;
    text-decoration: none;
    text-align: center;
    color: #000;
    width: 80px;
    height: 20px;
    display: block;
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 20px;
    border: 1px solid #64AF53;
    margin: 15px auto; }
    section.responsabilidade-fiscal .container .item .thumbs a:hover, section.responsabilidade-fiscal .container .item .thumbs a:visited:hover {
      outline: 1px solid #64AF53; }

section.responsabilidade-barbaNegra .container .item {
  margin: 40px 0; }
  section.responsabilidade-barbaNegra .container .item .thumbs {
    margin: 40px 0;
    width: 100%;
    text-align: center; }
    section.responsabilidade-barbaNegra .container .item .thumbs a, section.responsabilidade-barbaNegra .container .item .thumbs a:visited {
      padding: 0px;
      text-decoration: none;
      text-align: center;
      color: #000;
      width: 80px;
      height: 20px;
      display: block;
      font-size: 10px;
      font-weight: 700;
      text-transform: uppercase;
      line-height: 20px;
      border: 1px solid #64AF53;
      margin: 15px auto; }
      section.responsabilidade-barbaNegra .container .item .thumbs a:hover, section.responsabilidade-barbaNegra .container .item .thumbs a:visited:hover {
        outline: 1px solid #64AF53; }

@media (min-width: 768px) {
  .folha-menu {
    height: 240px; }
    .folha-menu a {
      height: 240px;
      font-size: 25px;
      line-height: 25px;
      padding: 90px 15px 0px 15px; }
      .folha-menu a span {
        font-size: 30px;
        line-height: 30px; }

  section.responsabilidade-industrial ul li span {
    width: 44px; }

  section.responsabilidade-sociais {
    margin: 60px 0 60px; }
    section.responsabilidade-sociais h3 {
      margin-top: 0;
      line-height: 19px; }
    section.responsabilidade-sociais .content {
      margin-top: 60px; }
      section.responsabilidade-sociais .content .col-md-8 {
        border-right: 1px solid #64AF53;
        border-bottom: none; } }
@media (min-width: 992px) {
  #responsabilidade .links ul li {
    height: 90px;
    width: 90px; }

  section.responsabilidade-publicacoes .container #informativos .lista div .thumbs img {
    height: auto;
    width: 40%; }

  section.responsabilidade-industrial ul li {
    font-size: 11px; }
    section.responsabilidade-industrial ul li span {
      width: 64px; } }
@media (min-width: 1200px) {
  #responsabilidade .links ul li {
    height: 120px;
    width: 120px; }

  section.responsabilidade-industrial ul li {
    font-size: 12px; }
    section.responsabilidade-industrial ul li span {
      width: 84px; } }
#noticias {
  margin-bottom: 60px; }
  #noticias .news {
    margin: 60px auto 50px; }
    #noticias .news .col-xs-12 {
      padding: 0; }
      #noticias .news .col-xs-12 .item {
        padding: 3px;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        border-radius: 0;
        position: relative;
        width: 100%;
        /* desired width */ }
        #noticias .news .col-xs-12 .item:before {
          content: "";
          display: block;
          padding-top: 100%;
          /* ratio of 1:1*/ }
        #noticias .news .col-xs-12 .item .content {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          width: 100%;
          height: 100%;
          padding: 2px; }
          #noticias .news .col-xs-12 .item .content img {
            width: 100% !important;
            height: 100% !important; }
      #noticias .news .col-xs-12 span {
        margin: 20px auto 0; }
      #noticias .news .col-xs-12 h3 {
        margin: 5px auto 15px; }
  #noticias .veja-mais {
    text-align: center;
    margin: 50px 0 60px 0; }
    #noticias .veja-mais .item {
      padding: 3px;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      -ms-border-radius: 0;
      border-radius: 0;
      position: relative;
      width: 100%;
      /* desired width */
      overflow: hidden;
      z-index: 100; }
      #noticias .veja-mais .item:before {
        content: "";
        display: block;
        padding-top: 100%;
        /* ratio of 1:1*/ }
      #noticias .veja-mais .item:hover > .content .black {
        opacity: .91; }
      #noticias .veja-mais .item .content {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        padding: 2px;
        overflow: hidden; }
        #noticias .veja-mais .item .content .black {
          position: absolute;
          height: 95%;
          width: 95%;
          top: 2.5%;
          left: 2.5%;
          background-color: #000;
          opacity: 0;
          -webkit-transition: all ease 0.3s;
          -moz-transition: all ease 0.3s;
          -o-transition: all ease 0.3s;
          -ms-transition: all ease 0.3s;
          transition: all ease 0.3s; }
          #noticias .veja-mais .item .content .black span {
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%) translate3d(0, 0, 0);
            -moz-transform: translate(-50%, -50%) translate3d(0, 0, 0);
            -webkit-transform: translate(-50%, -50%) translate3d(0, 0, 0);
            -o-transform: translate(-50%, -50%) translate3d(0, 0, 0);
            -ms-transform: translate(-50%, -50%) translate3d(0, 0, 0);
            transform: translate(-50%, -50%) translate3d(0, 0, 0);
            color: #fff;
            font-weight: 700; }
        #noticias .veja-mais .item .content img {
          width: 100% !important;
          height: 100% !important; }

@media (min-width: 768px) {
  #noticias .news .col-xs-12 {
    padding: 0 15; } }
#contato .texto {
  text-align: justify;
  color: #A4A5A7;
  font-size: 14px;
  display: block; }
#contato .formulario label {
  font-size: 14px; }
#contato .formulario input {
  width: 100%; }
#contato .formulario select {
  width: 400px; }
#contato .formulario textarea {
  width: 100%;
  height: 171px; }
#contato .formulario .submit {
  margin-top: 30px;
  text-align: center; }
#contato .contato-localizacao .descricao {
  color: #4D4D4D;
  font-size: 14px;
  text-align: left;
  display: block;
  margin-bottom: 20px; }

section.contato-telefones {
  margin-left: -15px !important;
  margin-right: -15px !important;
  font-size: 13px;
  font-weight: 700;
  text-align: center;
  color: #4D4D4D; }
  section.contato-telefones .item {
    margin-left: 0 !important;
    margin-top: 7px; }
    section.contato-telefones .item span {
      font-size: 11px; }

#trabalhe-conosco {
  margin: 100px 0 60px; }
  #trabalhe-conosco .formulario {
    margin-top: 100px; }
    #trabalhe-conosco .formulario .line {
      margin-right: 5px; }
    #trabalhe-conosco .formulario .radio {
      margin-top: 0 !important; }
      #trabalhe-conosco .formulario .radio label {
        margin-top: 0 !important; }
    #trabalhe-conosco .formulario .submit {
      margin-top: 30px;
      text-align: center; }

.formulario .legenda {
  color: #666666; }

.formulario .legenda a {
  color: #666666;
  text-decoration: underline; }

.formulario .success {
  font-size: 16px;
  line-height: 25px;
  color: #39b34a;
  font-weight: normal; }

section.trabalhe-conosco .descricao {
  color: #a4a5a7;
  font-size: 14px;
  text-align: justify;
  display: block;
  margin-top: 20px; }

section.contato-localizacao p {
  margin-bottom: 30px; }

section.contato-localizacao .google-maps {
  width: 100%;
  height: 313px;
  display: block;
  margin: 10px auto 60px auto;
  outline: none; }

section.contato-localizacao .box-google-maps {
  font-size: 12px; }

section.contato-localizacao .box-google-maps h1 {
  letter-spacing: 0px;
  font-size: 15px;
  padding: 0px;
  margin: 0px 0px 3px 0px;
  color: #39b34a;
  text-transform: uppercase;
  font-weight: normal; }

section.contato-localizacao .descricao {
  color: #a4a5a7;
  font-size: 14px;
  text-align: left;
  display: block;
  margin-bottom: 20px; }

@media (min-width: 768px) {
  section.contato-telefones {
    font-size: 14px; }
    section.contato-telefones .fones .item {
      white-space: nowrap; }
      section.contato-telefones .fones .item span {
        font-size: 12px; } }
@media (min-width: 992px) {
  section.contato-telefones {
    font-size: 13px; }
    section.contato-telefones .fones {
      text-align: initial; }
      section.contato-telefones .fones .item {
        margin-top: 0; }
        section.contato-telefones .fones .item span {
          font-size: 11px; } }
@media (min-width: 1200px) {
  section.contato-telefones {
    font-size: 14px; }
    section.contato-telefones .fones .item span {
      font-size: 12px; } }

/*# sourceMappingURL=custom.css.map */
