

#main-frame { position: relative; margin: 0px; padding: 0; top: 0px; left: 0px; min-height: 350px; display: block; }





.green { background-color: #89C33F; }

/* Tabs */

section.page-tab { display: block; margin-top: 55px; }
section.page-tab nav { display: block; text-align: center; background: url('../img/tabs-background.png') repeat-x 0px 0px; position: relative; }
section.page-tab nav a { position: relative; margin: 0px -4px; display: inline-block; height: 33px; background: url('../img/tabs.png') no-repeat left -165px; z-index: 5; }
section.page-tab nav a span { font-size: 16px; color: #006f52; line-height: 25px; margin-left: 7px; padding: 8px 17px 0px 10px; display: block; background: url('../img/tabs.png') no-repeat right -132px; font-family: "Yanone Kaffeesatz", Arial, sans-serif; }
section.page-tab nav a.active, section.page-tab nav a.active:hover { background-position: left -33px; z-index: 10; }
section.page-tab nav a.active span, section.page-tab nav a.active:hover span { color: #fff; background-position: right -0px; }
section.page-tab nav a:hover { background-position: left -99px; }
section.page-tab nav a:hover span { background-position: right -66px; }

section.page-tab.extra nav a span { padding: 8px 117px 0px 110px; }
section.page-tab.big nav a span { padding: 8px 57px 0px 50px; }
section.page-tab.medium nav a span { padding: 8px 47px 0px 40px; }
section.page-tab .white-bar { display: block; height: 25px; background-color: #fff; }

/* Docs */

section.docs { margin: 40px auto; }
section.docs iframe { height: 700px; width: 980px; display: block; border: solid 1px #1d7d0d; background-color: #fff; }

/* Contatos Area */

.formulario label { font-size: 12px; color: #666666; line-height: 20px; position: relative; }
.formulario table { width: 100%; }
.formulario table td { vertical-align: top; }
.formulario input[type=submit] { float: right; color: #666666; border: solid 1px #666666; display: block; background-color: #eeeeee; font-size: 14px; height: 32px; line-height: 32px; padding: 0px 10px; transition:All 0.2s ease; -webkit-transition:All 0.2s ease; -moz-transition:All 0.2s ease; -o-transition:All 0.2s ease; }
.formulario input[type=submit]:hover { border-color: #000; color: #000; cursor: pointer; transform: scale(1.1, 1.1); -webkit-transform: scale(1.1, 1.1); -moz-transform: scale(1.1, 1.1); -o-transform: scale(1.1, 1.1); -ms-transform: scale(1.1, 1.1); }
.formulario input[type=text], .formulario select, .formulario textarea { height: 26px; border: solid 1px #666666; font-size: 12px; color: #666666;	line-height: 26px; vertical-align: middle; padding:0 0 0 5px; resize: none; }
.formulario textarea { height: 110px; }
.formulario .row { display: block; height: 40px; width: 858px; }
.formulario .error { color: #931818; font-size: 12px; display: block; }
.formulario .span1 { width: 865px; }
.formulario select.span1 { width: 872px; }
.formulario .span2 { width: 410px; }
.formulario select.span2 { width: 417px; }
.formulario .span3 { width: 264px; }
.formulario .radio { margin: 0px 5px 3px 3px; }

.formulario .legenda { color: #666666; }
.formulario .legenda a { color: #666666; text-decoration: underline; }
.formulario .success { font-size: 16px; line-height: 25px; color: #39b34a; font-family: "Yanone Kaffeesatz", Arial, sans-serif; font-weight: normal; }

section.contato .texto { text-align: justify; color: #A4A5A7; font-size: 14px; display: block; }
section.contato .formulario { margin: 30px 50px; display: block; }
section.contato	.formulario .row { width: 875px; margin-top: 12px; }
section.trabalhe-conosco { margin-top: 50px; }
section.trabalhe-conosco .descricao { color: #a4a5a7; font-size: 14px; text-align: justify; display: block; margin-top: 20px; }
section.trabalhe-conosco .formulario { margin: 30px 50px; display: block; }
section.trabalhe-conosco .formulario strong { font-weight: bold; }


section.contato-telefones {}
section.contato-telefones .lista-left, .lista-right  { float: left; margin-left: 146px; width: 270px; }
section.contato-telefones .lista-left, .lista-right { margin-top: 20px; display: block; }
section.contato-telefones .lista-left li, .lista-right li { font-size: 16px; line-height: 25px; color: #a4a5a7; font-family: "Yanone Kaffeesatz", Arial, sans-serif; font-weight: normal; }
section.contato-telefones .lista-left li span, .lista-right li span { font-size: 20px; }

section.contato-localizacao {}
section.contato-localizacao .google-maps { width: 978px; height: 313px; border: solid 1px #1d7d0d; display: block; margin: 10px auto 15px auto; }
section.contato-localizacao .box-google-maps { font-size: 12px; }
section.contato-localizacao .box-google-maps h1 { letter-spacing: 0px; font-size: 15px; padding: 0px; margin: 0px 0px 3px 0px; color: #39b34a; text-transform: uppercase; font-family: "Yanone Kaffeesatz", Arial, sans-serif; font-weight: normal; }
section.contato-localizacao .descricao { color: #a4a5a7; font-size: 14px; text-align: left; display: block; margin-bottom: 20px; }

/* Responsabilidade Area */

section.responsabilidade-sociais {}
section.responsabilidade-sociais .lista { display: block; margin: 50px 0px 30px 0px; }
section.responsabilidade-sociais .lista li { height: 350px; width: 200px; color: #a4a5a7; font-size: 14px; margin: 0 60px 10px 0; display: block; float: left; text-align: justify; }
section.responsabilidade-sociais .lista li.last { margin-right: 0; }
section.responsabilidade-sociais .lista h2 { vertical-align: bottom; height: 44px; margin: 5px 0; line-height: 22px; display: block; color: #39b14a; font-size: 20px; font-family: "Yanone Kaffeesatz", Arial, sans-serif; font-weight: 700; text-align: left; }
section.responsabilidade-sociais .lista img { display: block; margin-bottom: 5px; }
section.responsabilidade-sociais p { font-size: 16px; color: #a4a5a7; text-align: justify; }

section.responsabilidade-publicacoes { text-align: justify; color: #A4A5A7; font-size: 14px; }
section.responsabilidade-publicacoes .descricao { display: block; position: relative; margin: 35px 0px; }
section.responsabilidade-publicacoes .texto { top: 0px; left: 120px; color: #A4A5A7; font-size: 14px; text-align: justify; position: absolute; }
section.responsabilidade-publicacoes .thumb { display: block; }
section.responsabilidade-publicacoes .links { bottom: 5px; left: 120px; right: 0px; position: absolute; }
section.responsabilidade-publicacoes .links a { font-size: 16px; padding: 2px 7px; margin-right: 7px; color: #fff; border: solid 1px #c8c8c8; background-color: #c8c8c8; display: inline-block; -webkit-border-radius: 5px; border-radius: 5px; font-family: "Yanone Kaffeesatz", Arial, sans-serif; font-weight: normal; }
section.responsabilidade-publicacoes .links a:hover { border: solid 1px #666; background-color: #666; }
section.responsabilidade-publicacoes .links a.inverse { color: #c8c8c8; border: solid 1px #c8c8c8; background-color: #fff; }
section.responsabilidade-publicacoes .links a.inverse:hover { color: #666; border: solid 1px #666; background-color: #fff; }

section.responsabilidade-publicacoes .lista { margin: 0px; display: block; }
section.responsabilidade-publicacoes .lista li { margin: 0px 28px 30px 0; text-align: center; width: 140px; height: 275px; float: left; }
section.responsabilidade-publicacoes .lista li.last { margin-right: 0px; }
section.responsabilidade-publicacoes .lista li span { display: block; font-size: 16px; text-align: left; height: 40px; }
section.responsabilidade-publicacoes .lista li img { display: block; }
section.responsabilidade-publicacoes .lista li a { margin-top: 5px; font-size: 16px; padding: 2px 7px; margin-right: 7px; color: #fff; border: solid 2px #c8c8c8; background-color: #c8c8c8; display: inline-block; -webkit-border-radius: 5px; border-radius: 5px; font-family: "Yanone Kaffeesatz", Arial, sans-serif; font-weight: normal; }
section.responsabilidade-publicacoes .lista li a:hover { border: solid 2px #666; background-color: #666; }

section.responsabilidade-publicacoes .item { display: block; position: relative; margin: 10px 0px; }
section.responsabilidade-publicacoes .item .texto { top: 0px; left: 120px; color: #A4A5A7; font-size: 14px; text-align: justify; position: absolute; }
section.responsabilidade-publicacoes .item .thumb { display: block; }
section.responsabilidade-publicacoes .item .links { bottom: 5px; left: 120px; right: 0px; position: absolute; }
section.responsabilidade-publicacoes .item .links a { font-size: 16px; padding: 2px 7px; margin-right: 7px; color: #fff; border: solid 1px #c8c8c8; background-color: #c8c8c8; display: inline-block; -webkit-border-radius: 5px; border-radius: 5px; font-family: "Yanone Kaffeesatz", Arial, sans-serif; font-weight: normal; }
section.responsabilidade-publicacoes .item .links a:hover { border: solid 1px #666; background-color: #666; }
section.responsabilidade-publicacoes .item .links a.inverse { color: #c8c8c8; border: solid 1px #c8c8c8; background-color: #fff; }
section.responsabilidade-publicacoes .item .links a.inverse:hover { color: #666; border: solid 1px #666; background-color: #fff; }

section.responsabilidade-publicacoes .plano-de-manejo {}
section.responsabilidade-publicacoes .plano-de-manejo .texto { left: 195px; }
section.responsabilidade-publicacoes .plano-de-manejo .links { left: 195px; }

section.responsabilidade-publicacoes a.link-folha { color: #A4A5A7; font-size: 14px; }
section.responsabilidade-publicacoes a.link-folha { color: #666; }

section.responsabilidade-florestal { text-align: justify; color: #A4A5A7; font-size: 14px; }
section.responsabilidade-florestal .texto-header { display: block; margin: 30px 0 15px 0 }
section.responsabilidade-florestal .item { display: block; position: relative; margin: 10px 0px; }
section.responsabilidade-florestal .item .texto { top: 0px; left: 120px; color: #A4A5A7; font-size: 14px; text-align: justify; position: absolute; }
section.responsabilidade-florestal .item .thumb { display: block; }
section.responsabilidade-florestal .item .links { bottom: 5px; left: 120px; right: 0px; position: absolute; }
section.responsabilidade-florestal .item .links a { font-size: 16px; padding: 2px 7px; margin-right: 7px; color: #fff; border: solid 1px #c8c8c8; background-color: #c8c8c8; display: inline-block; -webkit-border-radius: 5px; border-radius: 5px; font-family: "Yanone Kaffeesatz", Arial, sans-serif; font-weight: normal; }
section.responsabilidade-florestal .item .links a:hover { border: solid 1px #666; background-color: #666; }
section.responsabilidade-florestal .item .links a.inverse { color: #c8c8c8; border: solid 1px #c8c8c8; background-color: #fff; }
section.responsabilidade-florestal .item .links a.inverse:hover { color: #666; border: solid 1px #666; background-color: #fff; }

section.responsabilidade-industrial { }
section.responsabilidade-industrial .texto { text-align: justify; color: #A4A5A7; font-size: 14px; margin-bottom: 20px; }
section.responsabilidade-industrial h2 { margin-top: 20px; }
section.responsabilidade-industrial ul { margin: 30px 0; display: block; }
section.responsabilidade-industrial ul li { margin-bottom: 7px; width: 978px; border: 1px solid #1C674B; -webkit-border-radius: 5px; border-radius: 5px; font-family: "Yanone Kaffeesatz", Arial, sans-serif; font-weight: normal; font-size: 16px; height: 30px; overflow: hidden; }
section.responsabilidade-industrial ul li span { color: #fff; background-color: #1C674B; line-height: 30px; display: block; float: left; width: 50px; text-align: center; }
section.responsabilidade-industrial ul li a { color: #1C674B; float: left; display: block; line-height: 30px; width: 77px; text-align: center; }
section.responsabilidade-industrial ul li a.last { width: 81px; }
section.responsabilidade-industrial ul li a:hover { color: #fff; background-color: #1C674B; }

section.responsabilidade-industrial ul li a.none { color: #ccc; }
section.responsabilidade-industrial ul li a.none:hover { color: #ccc; cursor: inherit; background-color: inherit; }

section.responsabilidade-empregos {}
section.responsabilidade-empregos .texto { text-align: justify; color: #A4A5A7; font-size: 14px; margin: 30px 0; }
section.responsabilidade-empregos table { padding: 0; margin: 0px auto 35px auto; width: 750px; border: 1px solid #1C674B; -webkit-border-radius: 5px; border-radius: 5px; }
section.responsabilidade-empregos thead td { line-height: 20px; text-align: center; background-color: #1C674B; color: #fff; font-family: "Yanone Kaffeesatz", Arial, sans-serif; font-weight: normal; font-size: 16px; }
section.responsabilidade-empregos thead th { line-height: 20px; font-size: 16px; color: #39B14A; border-bottom: solid 1px #39B14A; }
section.responsabilidade-empregos tbody td { line-height: 20px; text-align: center; font-size: 14px; color: #A4A5A7; border-right: solid 1px #39B14A; border-bottom: dashed 1px #d9d9d9; }
section.responsabilidade-empregos tbody td.last { border-right: none; }
section.responsabilidade-empregos tbody td.title { width: 210px; text-align: left; padding-left: 10px; color: #6c6c6c; }
section.responsabilidade-empregos tfoot td { padding: 0px 10px; line-height: 30px; background-color: #1C674B; color: #fff; font-family: "Yanone Kaffeesatz", Arial, sans-serif; font-weight: normal; font-size: 16px; }
section.responsabilidade-empregos tfoot th { padding: 0px 10px; line-height: 30px; font-size: 16px; color: #39B14A; border-top: solid 1px #39B14A; }

section.responsabilidade-fiscal {}
section.responsabilidade-fiscal { text-align: justify; color: #A4A5A7; font-size: 14px; }
section.responsabilidade-fiscal .descricao { display: block; margin: 30px 0 15px 0 }
section.responsabilidade-fiscal .item { display: block; position: relative; margin: 10px 0px; }
section.responsabilidade-fiscal .item .texto { top: 0px; left: 210px; color: #A4A5A7; font-size: 14px; text-align: justify; position: absolute; }
section.responsabilidade-fiscal .item .thumb { display: block; }
section.responsabilidade-fiscal .item .links { bottom: 5px; left: 210px; right: 0px; position: absolute; }
section.responsabilidade-fiscal .item .links a { font-size: 16px; padding: 2px 7px; margin-right: 7px; color: #fff; border: solid 1px #c8c8c8; background-color: #c8c8c8; display: inline-block; -webkit-border-radius: 5px; border-radius: 5px; font-family: "Yanone Kaffeesatz", Arial, sans-serif; font-weight: normal; }
section.responsabilidade-fiscal .item .links a:hover { border: solid 1px #666; background-color: #666; }
section.responsabilidade-fiscal .item .links a.inverse { color: #c8c8c8; border: solid 1px #c8c8c8; background-color: #fff; }
section.responsabilidade-florestal .item .links a.inverse:hover { color: #666; border: solid 1px #666; background-color: #fff; }

section.responsabilidade-barbaNegra {}
section.responsabilidade-barbaNegra .descricao { display: block; position: relative; margin: 35px 0px; }
section.responsabilidade-barbaNegra .texto { top: 0px; left: 120px; color: #A4A5A7; font-size: 14px; text-align: justify; position: absolute; }
section.responsabilidade-barbaNegra .thumb { display: block; }
section.responsabilidade-barbaNegra .links { bottom: 5px; left: 120px; right: 0px; position: absolute; }
section.responsabilidade-barbaNegra .links a { font-size: 16px; padding: 2px 7px; margin-right: 7px; color: #fff; border: solid 1px #c8c8c8; background-color: #c8c8c8; display: inline-block; -webkit-border-radius: 5px; border-radius: 5px; font-family: "Yanone Kaffeesatz", Arial, sans-serif; font-weight: normal; }
section.responsabilidade-barbaNegra .links a:hover { border: solid 1px #666; background-color: #666; }
section.responsabilidade-barbaNegra .links a.inverse { color: #c8c8c8; border: solid 1px #c8c8c8; background-color: #fff; }
section.responsabilidade-barbaNegra .links a.inverse:hover { color: #666; border: solid 1px #666; background-color: #fff; }

/* Produtos Area */

section.produtos {}
section.produtos .header { margin: 30px 0 15px 0; }
section.produtos .descricao { text-align: justify; color: #A4A5A7; font-size: 14px; display: block; }
section.produtos .fluxograma { text-align: justify; color: #A4A5A7; font-size: 14px; display: block; margin: 15px 0; }
section.produtos .fluxograma ul { margin: 10px 0; }
section.produtos .fluxograma li { width: 300px; height: 320px; display: block; float: left; margin: 0px 40px 10px 0px; height: }
section.produtos .fluxograma li.last { margin-right: 0; }
section.produtos .fluxograma li img { display: block; margin-bottom: 5px; }

section.produtos.papel {}

/* Empresa Area */

section.empresa {}
section.empresa .header { margin: 30px 0 15px 0; }
section.empresa .descricao { text-align: justify; color: #A4A5A7; font-size: 14px; display: block; }

section.empresa.valores ul { list-style-type: disc; list-style-position: inside; margin: 10px 0px 10px 10px;display: block; }
section.empresa.valores ul li { line-height: 20px; }

section.empresa.certificacoes ul { display: block; margin: 30px 0; }
section.empresa.certificacoes ul li { float: left; width: 300px; height: 295px; display: block; position: relative; margin: 0px 40px 40px 0px; }
section.empresa.certificacoes ul li.last { margin-right: 0px; }
section.empresa.certificacoes ul li .titulo { top: 0px; left: 120px; letter-spacing: 0px; font-size: 20px; padding: 0px; color: #1e674c; font-family: "Yanone Kaffeesatz", Arial, sans-serif; font-weight: 700; position: absolute; }
section.empresa.certificacoes ul li .texto { top: 23px; left: 120px; text-align: justify; color: #A4A5A7; font-size: 14px; position: absolute; }
section.empresa.certificacoes ul li img { display: block; border: solid 1px #ccc; }
section.empresa.certificacoes .links { top: 150px; left: 0px; position: absolute; width: 102px; }
section.empresa.certificacoes .links a { font-size: 16px; padding: 2px 7px; margin-bottom: 5px; color: #fff; text-align: c1nter; border: solid 2px #c8c8c8; background-color: #c8c8c8; display: block; -webkit-border-radius: 5px; border-radius: 5px; font-family: "Yanone Kaffeesatz", Arial, sans-serif; font-weight: normal; }
section.empresa.certificacoes .links a:hover { border: solid 1px #666; background-color: #666; }
section.empresa.certificacoes .links a.inverse { color: #c8c8c8; border: solid 1px #c8c8c8; background-color: #fff; }
section.empresa.certificacoes .links a.inverse:hover { color: #666; border: solid 1px #666; background-color: #fff; }

/* Noticias Area */

section.noticias { margin: 50px auto; min-height: 1000px; }

section.noticias .block { display: block; position: relative; margin: 20px 0px 50px 0px; width: 660px; height: auto; }
section.noticias .block .data { height: 20px; width: 200px; color: #a4a5a7; font-size: 18px; position: absolute; top: 0px; left: 0px; display: block; font-family: "Yanone Kaffeesatz", Arial, sans-serif; font-weight: 700; }
section.noticias .block .titulo { height: 25px; width: 660px; color: #1c674b; font-size: 22px; position: absolute; top: 25px; left: 0px; display: block; font-family: "Yanone Kaffeesatz", Arial, sans-serif; font-weight: 700; }
section.noticias .block .body { color: #A4A5A7; font-size: 14px; padding-top: 60px; display: block; text-align: justify; }
section.noticias .block .body a { color: #1c674b; }
section.noticias .block .body a:hover { text-decoration: underline; cursor: pointer; }
section.noticias .block .body img { margin: 10px; }

section.noticias .sidebar { background-color: #eee; position: absolute; padding: 10px 0px 10px 10px; width: 290px; right: 0px; top: 302px; min-height: 300px; }
section.noticias .sidebar ul { margin: 0; }
section.noticias .sidebar ul li { display: block; margin-bottom: 10px; border-bottom: solid 1px #1c674b; padding-bottom: 10px; }
section.noticias .sidebar ul li .data { color: #a4a5a7; font-size: 18px; height: 22px; display: block; font-family: "Yanone Kaffeesatz", Arial, sans-serif; font-weight: 700; }
section.noticias .sidebar ul li .titulo { padding-right: 10px; color: #1c674b; display: block; font-size: 16px; }
section.noticias .sidebar ul li a { font-size: 16px; color: #A4A5A7; display: block; text-align: right; margin-top: 5px; line-height: 17px; height: 17px; font-family: "Yanone Kaffeesatz", Arial, sans-serif; font-weight: normal; }
section.noticias .sidebar ul li a:hover { color: #000; }
section.noticias .sidebar ul li a img { width: 20px; height: 17px; float: right; display: block; margin-left: 5px; }
section.noticias .sidebar .control { display: block; }
section.noticias .sidebar .control a { padding: 0px 6px; background-color: #A4A5A7; font-size: 20px; color: #fff; display: block; font-family: "Yanone Kaffeesatz", Arial, sans-serif; font-weight: normal; }
section.noticias .sidebar .control a:hover { cursor: pointer; background-color: #000; }
section.noticias .sidebar .control a.hide { display: none; }
section.noticias .sidebar .next { float: right; }
section.noticias .sidebar .prev { float: left; }

/* Home Area */

section.column { display: table; }
section.column .left { width: 310px; float: left; display: table; }
section.column .center { width: 310px; float: left; margin-left: 25px; display: table; }
section.column .right { background-color: #eee; padding: 10px 0px 0px 0px; width: 310px; float: right; display: table; }

section.column .right ul { margin: 0; }
section.column .right ul li { display: block; margin-bottom: 10px; margin-left: 10px; border-bottom: solid 1px #1c674b; padding-bottom: 10px; }
section.column .right ul li.last { border-bottom: none; }
section.column .right ul li .data { color: #a4a5a7; font-size: 18px; height: 22px; display: block; font-family: "Yanone Kaffeesatz", Arial, sans-serif; font-weight: 700; }
section.column .right ul li .titulo { padding-right: 10px; color: #1c674b; display: block; font-size: 16px; }
section.column .right ul li .titulo.bold { font-size: 22px; font-family: "Yanone Kaffeesatz", Arial, sans-serif; font-weight: 700; }
section.column .right ul li .texto { padding-right: 10px; padding-top: 5px; text-align: justify; color: #A4A5A7; font-size: 14px; display: block; }
section.column .right ul li .img { display: block; text-align: center; margin: 5px 0; }
section.column .right ul li .img img { width: 300px; display: block; }
section.column .right ul li a { display: table; }

section.column .parse { }

section.column .parse ul { margin: 10px 0px; }
section.column .parse ul li { color: #A4A5A7; font-size: 14px; display: block; margin-bottom: 10px; padding-bottom: 10px; border-bottom: solid 1px #1c674b; text-align: justify; }
section.column .parse ul li a { color: #A4A5A7; display: table; }
section.column .parse ul li .titulo { text-align: left; letter-spacing: 0px; line-height: 20px; font-size: 24px; padding: 0px; color: #1e674c; font-family: "Yanone Kaffeesatz", Arial, sans-serif; font-weight: 700; }
section.column .parse ul li .data { text-align: left; letter-spacing: 0px; line-height: 30px; font-size: 24px; padding: 0px; color: #a4a5a7; font-family: "Yanone Kaffeesatz", Arial, sans-serif; font-weight: 700; }
section.column .parse ul li.last { border-bottom: none; }
section.column .parse ul li img { display: block; width: 310px; margin: 8px 0px 10px 0px; }

section.column .parse ul li.green { color: #1e674c !important; }

section.column .right .banner-bndes { display: block; background-color: #fff; padding: 10px 0px; height: 38px; }

.link { cursor: pointer; background: url('../img/mais.jpg') no-repeat right top; padding-right: 25px; font-size: 16px; color: #A4A5A7; display: block; text-align: right; margin-top: 5px; line-height: 17px; height: 17px; font-family: "Yanone Kaffeesatz", Arial, sans-serif; font-weight: normal; }
.link:hover, a:hover .link { color: #000; background-position: right -17px; }

#box { display: none; z-index: 500; left: 50%; top: 50%; position: fixed; margin: -203px 0px 0px -361px; width: 720px; height: 405px; background-color: #fff; border: 1px solid #1e674c; -webkit-box-shadow: 0px 0px 20px 0px #1e674c; box-shadow: 0px 0px 20px 0px #1e674c; -webkit-border-radius: 5px 0px 5px 5px; border-radius: 5px 0px 5px 5px; }
#box .close { padding: 0px 5px; background-color: #1e674c; position: absolute; top: -26px; right: -1px; display: block; font-size: 16px; color: #fff; text-align: right; line-height: 25px; height: 25px; font-family: "Yanone Kaffeesatz", Arial, sans-serif; font-weight: normal; -webkit-border-radius: 5px 5px 0px 0px; border-radius: 5px 5px 0px 0px; }
#box .close:hover { color: #999; }

/*  Folha Area */

.folha-menu { width: 980px; height: 260px; display: block; position: relative; background: url('../img/folha-menu.jpg') no-repeat top left; }
.folha-menu a { float: left; padding: 70px 15px 0px 15px; margin: 0px; color: transparent !important; display: inline-block; width: 297px; height: 190px; cursor: pointer; }
.folha-menu a:hover, .folha-menu a.active { background: url('../img/folha-menu-active.png') repeat; color: #fff !important; }

.folha-menu a { vertical-align: center; font-size: 25px; line-height: 30px; font-family: "Yanone Kaffeesatz", Arial, sans-serif; font-weight: bold; }
.folha-menu a span { font-size: 60px; line-height: 60px; font-family: "Yanone Kaffeesatz", Arial, sans-serif; font-weight: bold; }

.folha-menu a[rel=campanha] {}
.folha-menu a[rel=centro] {}
.folha-menu a[rel=metropolitana] { width: 296px; }

.folha-container { width: 980px; display: table; }

.folha-body { float: left; display: table; width: 660px; height: auto; margin-top: 20px; }
.folha-body .row { display: table; margin-bottom: 30px; }
.folha-body .row .area { color: #a4a5a7; font-size: 19px; height: 22px; display: block; font-family: "Yanone Kaffeesatz", Arial, sans-serif; font-weight: bold; }
.folha-body .row .titulo { color: #1C674B; font-size: 25px; height: 35px; display: block; font-family: "Yanone Kaffeesatz", Arial, sans-serif; font-weight: bold; }
.folha-body .row .corpo { color: #A4A5A7; font-size: 14px; display: block; text-align: justify; }
.folha-body .row .corpo img { max-width: 660px !important; }

.folha-bar { float: right; background-color: #eee; display: table; position: relative; top: 0; padding: 10px 0px 10px 10px; width: 290px; min-height: 300px; }
.folha-bar ul { margin: 0; }
.folha-bar ul li { display: block; margin-bottom: 10px; border-bottom: solid 1px #1c674b; padding-bottom: 10px; }
.folha-bar ul li .data { color: #a4a5a7; font-size: 19px; height: 22px; display: block; font-family: "Yanone Kaffeesatz", Arial, sans-serif; font-weight: normal; }
.folha-bar ul li .titulo { padding-right: 10px; color: #1c674b; display: block; font-size: 16px; }

.folha-selecione { margin-top: 5%; }
.folha-selecione b { color: #1C674B; font-size: 20px; height: 35px; display: block; font-family: "Yanone Kaffeesatz", Arial, sans-serif; font-weight: normal; display: block; text-align: center; }

/* Expansao Area */

section.expansao { height: 780px; }
section.expansao .expansao-body { display: table; margin-bottom: 30px; color: #A4A5A7; font-size: 16px; display: block; text-align: justify; float: left; display: table; width: 660px; height: auto; }
section.expansao .titulo { color: #1C674B; font-size: 25px; height: 35px; display: block; font-family: "Yanone Kaffeesatz", Arial, sans-serif; font-weight: bold; }
section.expansao .expansao-bar { float: right; display: table; width: 290px;  }

section.expansao-andamento {}
section.expansao-andamento .texto { color: #A4A5A7; font-size: 14px; text-align: justify; }

.vi-fo .bloco { width: 980px; height: 560px; display: block; position: relative; margin-top: 20px; }
.vi-fo .videos { width: 601px; height: 550px; float: left; }
.vi-fo .videos .titulo { border-bottom: solid 1px #39b14a; display: block; position: relative; color: #808080; font-family: "Yanone Kaffeesatz", Arial, sans-serif; font-weight: bold; font-size: 18px; line-height: 25px; height: 25px; }
.vi-fo .videos .thumbs { height: 525px; width: 630px; display: block; left: -29px; position: relative; overflow-y: scroll; }
.vi-fo .videos .thumbs a { width: 276px; height: 200px; margin-left: 29px; margin-bottom: 15px; display: block; float: left; position: relative; }
.vi-fo .videos .thumbs img { width: 276px; height: 135px; position: absolute; bottom: -3px; left: -3px; border: solid 3px #fff; }
.vi-fo .videos .thumbs a:hover img { border-color: #39b14a; }
.vi-fo .videos .thumbs .play { background: url('../img/play-80.png') no-repeat; position: absolute; width: 80px; height: 80px; display: block; left: 50%; top: 93px; margin-left: -40px; }
.vi-fo .videos .thumbs a { color: #A4A5A7; font-size: 16px; }
.vi-fo .videos .thumbs h4 { color: #1C674B; font-size: 22px; line-height: 22px; font-family: "Yanone Kaffeesatz", Arial, sans-serif; font-weight: bold; }
.vi-fo .videos .thumbs span { color: #39B14A; font-size: 16px; } 

.vi-fo .fotos { width: 330px; height: 550px; float: right; position: relative; }
.vi-fo .fotos .titulo { border-bottom: solid 1px #39b14a; display: block; position: relative; color: #808080; font-family: "Yanone Kaffeesatz", Arial, sans-serif; font-weight: bold; font-size: 18px; line-height: 25px; height: 25px; }
.vi-fo .fotos .texto { display: block; line-height: 30px; }
.vi-fo .fotos .thumbs { left: -7px; width: 342px; height: 495px; position: relative; display: block; overflow-y: scroll; }
.vi-fo .fotos .thumbs a { width: 100px; height: 75px; margin: -2px 0px 5px 5px; display: block; float: left; border: solid 2px #fff; }
.vi-fo .fotos .thumbs img { width: 100px; height: 75px; display: block; background-color: #999; }
.vi-fo .fotos .thumbs a:hover { border-color: #39b14a; }

/* Erro */

section.erro { margin: 50px auto; text-align: justify; color: #A4A5A7; font-size: 16px; width: 980px; }
section.erro h1 { margin: 0 0 6px 0; letter-spacing: 0px; font-size: 24px; padding: 0px; color: #1e674c; font-family: "Yanone Kaffeesatz", Arial, sans-serif; font-weight: 700; }

/* Box Form */

#box-form { position: fixed; z-index: 9999; top: 0px; left: 0px; right: 0px; bottom: 0px; width: 100%; height: 100%; }
#box-form .container { width: 200px; margin-top: 300px; display: block; color: #666666; border: solid 1px #666666; display: block; background-color: #eeeeee; font-size: 16px; line-height: 32px; text-align: center; padding: 10px 12px; }
#box-form .container a { width: 80px; color: #666666; border: solid 1px #666666; display: inline-block; background-color: #eeeeee; font-size: 14px; height: 32px; line-height: 32px; padding: 0px 10px; transition:All 0.2s ease; -webkit-transition:All 0.2s ease; -moz-transition:All 0.2s ease; -o-transition:All 0.2s ease; }
#box-form .container a:hover { border-color: #000; color: #000; cursor: pointer; transform: scale(1.1, 1.1); -webkit-transform: scale(1.1, 1.1); -moz-transform: scale(1.1, 1.1); -o-transform: scale(1.1, 1.1); -ms-transform: scale(1.1, 1.1); }


/* Projetos */

/* Educacao */
.projeto-educacao { font-family: 'Roboto', 'Arial Narrow', Arial, sans-serif; font-stretch: normal;  }
.projeto-educacao h1 { top: 65px; left: 35px; position: absolute; width: 480px; font-size: 42px; line-height: 40px; font-weight: 300; text-align: right; color: #fff; }
.projeto-educacao h2 { top: 145px; left: 35px; position: absolute; width: 480px; font-size: 25px; line-height: 40px; font-weight: 700; text-align: right; color: #fff; }
.projeto-educacao .livros { top: 20px; right: 85px; position: absolute; }
.projeto-educacao .titulo { height: 215px; position: relative; }
.projeto-educacao .texto { color: #4D4D4D; font-weight: 400; font-size: 18px; line-height: 22px; text-align: justify; width: 765px; padding: 70px 0; }
.projeto-educacao .barra { -webkit-box-shadow: 0 0 20px 0 rgba(0,0,0,0.5); box-shadow: 0 0 20px 0 rgba(0,0,0,0.5); top: -18px; position: absolute; font-weight: 500; left: 50%; margin-left: -200px; background-color: #fff; line-height: 36px; color: #549A3C; font-size: 18px; width: 400px; text-align: center; }
.projeto-educacao .tabelas { width: 810px; text-align: center; }
.projeto-educacao table { border: 0; border-collapse: collapse;  border-spacing: 0; display: inline-table; }
.projeto-educacao table.lista { min-width: 380px; margin: 0 10px; }
.projeto-educacao table td, .projeto-educacao table th { padding: 0; margin: 0; }
.projeto-educacao table th { color: #fff; text-align: center; font-size: 12px; font-weight: 300; line-height: 20px; text-transform: uppercase; }
.projeto-educacao table td { background-color: #fff; padding: 5px; font-size: 20px; text-align: center; font-weight: 500; line-height: 100%; border: solid 1px #000; border-collapse: collapse; }
.projeto-educacao table td.municipio { text-align: left; font-weight: 400; }


